*.*
!.gitignore
!kubejs/**
kubejs/config
!kubejs/
kubejs/jsconfig.json
kubejs/README.txt
!kubejs/probe/user/docs.d.ts

!manifest.json
!modlist.html

!dungeon_json/**
!config/dimdungeons-common-r190.toml
!config/skyblockbuilder/templates/spawn.nbt
!config/skyblockbuilder/templates.json5
!config/defaultworldtype/client-config.toml
!config/tacz-common.toml
!config/apotheosis/apotheosis.cfg

!defaultconfigs/**